- uncompiled = Rails.env == 'development' && params.has_key?('uncompiled')
- content_for :view_javascript do
  = game_js(uncompiled)
- if Rails.env == 'development'
  - if(uncompiled)
    = link_to "Uncompiled", root_path, :id => 'debug', :title => 'Go to compiled version'
  - else
    = link_to "Complied", '/?uncompiled', :id => 'debug', :title => 'Go to uncompiled version'

#font-preload
  #CPMono_v07Bold a
  #MolotRegular a
  #RadiolandRegular a
#loadingbg
  %img{:alt => "", :src => image_path("vignette.png")}
  #loading
    #loadingpg
#vignette.hidden
  %img#vignetteimg{:alt => "", :src => image_path("vignette.png")}
#gamecontrolsdisplay.hidden
  #timers
    #minutesremaining.digit 2
    #secondsremainingtens.digit 0
    #secondsremainingones.digit 0
    #bombicon
    #bombsecondstens.digit 3
    #bombsecondsones.digit 0
    #progress
  #bestscore
  #score
  #smalllogo
  #instructions
  #pause
  #startover
  #sounds
    #musicbutton
      .off
      .on
    #soundsbutton
      .off
      .on
  #pixellab= link_to '', "http://thinkpixellab.com"
#game.hidden
  #tableborder
    #table
      #boom
      %canvas#shadow_canvas
      %canvas#demo_canvas
%canvas#cue_canvas.hidden
#gamecontrolsclick.hidden
  #instructionsclick
  #pauseclick
  #startoverclick
  #soundclick
    #musicbuttonclick
    #soundsbuttonclick
  #pixellabclick= link_to '', "http://thinkpixellab.com"
#alert-div-holder{:style => 'display: none;'}
  #alert-div
#overlay.hidden
  #messageoverlay
    #start
      #startmessage
    #resume
    #howtoplay
    #gameover
      #gameoverscore 00
      #gameovertwitter
      #gameoverfacebook
